body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(49,49,49);
    color: white;
}

#header{
    border:none;
    background-color:seagreen;
    color: white;
    padding: 10px;
    height: 16px;
    font-size: 16px;
    font-weight: bold;
}

#header button{
    border-radius: 5px;
    background-color:#85adad;
    margin-left: 20px;
    width: 200px;
    font-weight: bold;
    font-size: 10px;
}

#header button:hover{
    cursor: pointer;
    background-color: #c2d6d6;
}


/* ======================  INDEX  =============================== */
#command{
    border:none;
    background-color:grey;
}

#command button{
    border-radius: 5px;
    background-color:#3399ff;
    margin: 2px;
    width: 205px;
    font-weight: bold;
    font-size: 12px;
}

#command button:hover{
    cursor: pointer;
    background-color: #66ccff;
}

.content {
    border: none;
    margin: 5px auto;
    width: auto;
    font-size: 11px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    font-size: 8px;
    color:#3399ff;
}

td {
    text-align: center;
    padding: 5px;
}


.content_command {
    border: none;
    margin: 100px auto;
    width: 335px;
    height: 335px;
}

.message{
    border: none;
    margin: 10px auto;
    width: 315px;
}

.form {
    border: none;
    margin: 10px auto;
    width: 315px;
}

.form label{
    display: block;
    float: left;
    border: 1px solid white;
    width: 315px;
    height: 19px;
    font-size: 14px;
}

.form .inp{
    width: 308px;
}

.form .btn{
    display: block;
	width: 315px;
	background-color:#3399ff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 5px;
}

.form .btn_cancel{
    display: block;
	width: 315px;
	background-color:#ff7433;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 5px;
}

.btn_cancel:hover{
    background-color: #fd9362;
}

.btn:hover{
    background-color: #66ccff;
}

#content {
    width: 70%;
}

/* ======================  GET_INFO  =============================== */
/* -- Блок вывода данных -- */
.get_info_data_outer {
    border: none;
    margin-top: 0px;
    /*margin-left: 18px;
    margin-right: 18px;*/
    margin-left: 5px;
    margin-right: 5px;
    width: 565px;
    float: left;
}

.get_info_data_inner {
    border: none;
    margin: 5px;
    width: 555px;
    font-size: 11px;
}

/* -- Форма ввода -- */
.get_info_input {
    border: 1px solid white;
    margin: 5px auto;
    /*width: 300px; */
    width: 180px;
    /*height: 80px; */
}

.get_info_form {
    border: none;
    margin: 5px auto;
    /*width: 280px; */
    width: 175px;
    font-size: 12px;
}

.get_info_form label{
    border: 1px solid white;
    display: block;
    float: left;
    /*width: 105px;*/
    width: 175px;
    height: 19px;
    font-size: 14px;
}

.get_info_btn{
    border: 1px solid white;
    display: block;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
	margin-top: 5px;
}

.get_info_btn:hover{
    background: grey;
}
