{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div class="content_command">
    <div class="form">
        <form action="/add_post" method="POST">
            <label for="val_post_id">POST_ID</label>
                <input type="text" name="val_post_id" id="val_post_id" class="inp"><br>
            <label for="val_post_name">POST_NAME</label>
                <input type="text" name="val_post_name" id="val_post_name" class="inp"><br>
            
            <input type="submit" name="submitted" value="ADD_POST" class="btn">
            <input type="submit" name="submitted" value="CANCEL / BACK" class="btn_cancel">
        </form>
    </div>
    <div class="message">
        {% if msg %}
        <h4 style="text-align: center">{{ msg }}</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
