{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div class="content_command">
    <div class="form">
        <form action="/add_depart" method="POST">
            <label for="val_depart_id">DEPART_ID</label>
                <input type="text" name="val_depart_id" id="val_depart_id" class="inp"><br>
            <label for="val_depart_name">DEPART_NAME</label>
                <input type="text" name="val_depart_name" id="val_depart_name" class="inp"><br>
            <label for="val_parent_id">PARENT_ID</label>
                <input type="text" name="val_parent_id" id="val_parent_id" class="inp"><br>
            
            <input type="submit" name="submitted" value="ADD_DEPART" class="btn">
            <input type="submit" name="submitted" value="CANCEL / BACK" class="btn_cancel">
        </form>
    </div>
    <div class="message">
        {% if msg %}
        <h4 style="text-align: center">{{ msg }}</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
