{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div class="content_command">
    <div class="form">
        <form action="/add_user_on_post" method="POST">
            <label for="val_pos_id">POS_ID</label>
                <input type="text" name="val_pos_id" id="val_pos_id" class="inp"><br>
            <label for="val_user_id">USER_ID</label>
                <input type="text" name="val_user_id" id="val_user_id" class="inp"><br>

            <input type="submit" value="ADD_USER_ON_POST" class="btn">
        </form>
    </div>
</div>
{% endblock %}