{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div class="content_command">
    <div class="form">
        <form action="/add_user" method="POST">
            <label for="val_user_id">USER_ID</label>
                <input type="text" name="val_user_id" id="val_user_id" class="inp"><br>
            <label for="val_fio">FIO</label>
                <input type="text" name="val_fio" id="val_fio" class="inp"><br>
            <label for="val_tab_num">TAB_NUM</label>
                <input type="text" name="val_tab_num" id="val_tab_num" class="inp"><br>
            
            <input type="submit" name="submitted" value="ADD_USER" class="btn">
            <input type="submit" name="submitted" value="CANCEL / BACK" class="btn_cancel">
        </form>
    </div>
    <div class="message">
        {% if msg %}
        <h4 style="text-align: center">{{ msg }}</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
