{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div class="content_command">
    <div class="form">
        <form action="/change_fio" method="POST">
            <label for="val_user_id">USER_ID</label>
                <input type="text" name="val_user_id" id="val_user_id" class="inp"><br>
            <label for="val_fio">FIO</label>
                <input type="text" name="val_fio" id="val_fio" class="inp"><br>

            <input type="submit" value="CHANGE_FIO" class="btn">
        </form>
    </div>
</div>
{% endblock %}
