{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div class="content_command">
    <div class="form">
        <form action="/change_depart" method="POST">
            <label for="val_pos_id">POS_ID</label>
                <input type="text" name="val_pos_id" id="val_pos_id" class="inp"><br>
            <label for="val_depart_id">DEPART_ID</label>
                <input type="text" name="val_depart_id" id="val_depart_id" class="inp"><br>

            <input type="submit" value="CHANGE_DEPART" class="btn">
        </form>
    </div>
</div>
{% endblock %}