{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0</title>
{% endblock %}

{% block body %}
<div id="header">
    Structure_manager_1.0
</div>

<div class="content">
    <h3 style="text-align: center">Table 'ISU_CODE.CODE_OS_CHANGE'</h3>
    
    {% if positions|length < 1 %}
    <h4 style="text-align: center">There are no records.</h4>

    {% else %}
    <table>
        <tr>
            <th>id_rec</th>
            <th>pos_id</th>
            <th>post_id</th>
            <th>post_name</th>
            <th>tab_num</th>
            <th>fio</th>
            <th>depart_id</th>
            <th>depart_name</th>
            <th>link_type</th>
            <th>boss_fio</th>
            <th>boss_pos_id</th>
            <th>ACTIONS</th>
        </tr>
        {% for position in positions %}   
        <tr>
            <td>{{ position.id_rec }}</td>
            <td>{{ position.pos_id }}</td>
            <td>{{ position.post_id }}</td>
            <td>{{ position.post_name }}</td>
            <td>{{ position.tab_num }}</td>
            <td>{{ position.fio }}</td>
            <td>{{ position.depart_id }}</td>
            <td>{{ position.depart_name }}</td>
            <td>{{ position.link_type }}</td>
            <td>{{ position.boss_fio }}</td>
            <td>{{ position.boss_pos_id }}</td>
            <td>
                <a href="/delete/{{position.id_rec}}">Delete</a>
                <br>
                <a href="/update/{{position.id_rec}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}