{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0_GetInfo</title>
{% endblock %}

{% block body %}
<div id="header">
    Structure_manager_1.0
    <a href="/"><button>INDEX_PAGE</button></a>
</div>

<!-- Форма ввода №1 -->
<div class="get_info_input" style="float: left">
    <div class="get_info_form">
        <h3>Field #1</h3>
        <form action="/get_info" method="POST">
            <label for="val_get_info">TAB_NUM_#1</label><input type="number" name="val_get_info" id="val_get_info"><br>
            <input type="submit" value="GET_INFO" class="get_info_btn">
        </form>
    </div>

    <div class="get_info_form">
        <h3>Field #2</h3>
        <form action="/get_info" method="POST">
            <label for="val_get_info_2">TAB_NUM_#2</label><input type="number" name="val_get_info_2" id="val_get_info_2"><br>
            <input type="submit" value="GET_INFO" class="get_info_btn">
        </form>
    </div>
</div>

<!-- Блок вывод данных №1 -->
<div class="get_info_data_outer">
<div class="get_info_data_inner">
    <table>
        <tr style='color:#3399ff'><td style='width:120px'><b>Field #1</b></td><td><b>ДАННЫЕ ИЗ ИСКРЫ</b></td></tr>
        <tr><td style='width:120px'>FIO</td><td>{{ rec_iskra.FIO }}</td></tr>
        <tr><td style='width:120px'>USER_ID</td><td>{{ rec_iskra.USER_ID }}</td></tr>
        <tr><td style='width:120px'>TAB_NUM</td><td>{{ rec_iskra.TAB_NUM }}</td></tr>
    </table>
</div>
<div class="get_info_data_inner">
    <table>
        <tr><td style='width:120px'></td><td style='color:#3399ff'><b>ДАННЫЕ ИЗ ИСУ</b></td></tr>
        <tr><td style='width:120px'>FIO</td><td>{{ rec_vw_os.FIO }}</td></tr>
        <tr><td style='width:120px'>TAB_NUM</td><td>{{ rec_vw_os.TAB_NUM }}</td></tr>
        <tr><td style='width:120px'>POS_ID</td><td>{{ rec_vw_os.POS_ID }}</td></tr>
        <tr><td style='width:120px'>POST_NAME</td><td>{{ rec_vw_os.POST_NAME }}</td></tr>
        <tr><td style='width:120px'>POST_ID</td><td>{{ rec_vw_os.POST_ID }}</td></tr>
        <tr><td style='width:120px'>USER_ID</td><td>{{ rec_vw_os.USER_ID }}</td></tr>
        <tr><td style='width:120px'>BOSS_FIO</td><td>{{ rec_vw_os.BOSS_FIO }}</td></tr>
        <tr><td style='width:120px'>BOSS_TAB_NUM</td><td>{{ rec_vw_os.BOSS_TAB_NUM }}</td></tr>
        <tr><td style='width:120px'>BOSS_POS_ID</td><td>{{ rec_vw_os.BOSS_POS_ID }}</td></tr>
        <tr><td style='width:120px'>DEPART_NAME</td><td>{{ rec_vw_os.DEPART_NAME }}</td></tr>
        <tr><td style='width:120px'>DEPART_ID</td><td>{{ rec_vw_os.DEPART_ID }}</td></tr>
    </table>
</div>
</div>

<!-- Блок вывод данных №2 -->
<div class="get_info_data_outer">
<div class="get_info_data_inner">
    <table>
        <tr style='color:#3399ff'><td style='width:120px'><b>Field #2</b></td><td style='color:#3399ff'><b>ДАННЫЕ ИЗ ИСКРЫ</b></td></tr>
        <tr><td style='width:120px'>FIO</td><td>{{ rec_iskra_2.FIO }}</td></tr>
        <tr><td style='width:120px'>USER_ID</td><td>{{ rec_iskra_2.USER_ID }}</td></tr>
        <tr><td style='width:120px'>TAB_NUM</td><td>{{ rec_iskra_2.TAB_NUM }}</td></tr>
    </table>
</div>
<div class="get_info_data_inner">
    <table>
        <tr><td style='width:120px'></td><td style='color:#3399ff'><b>ДАННЫЕ ИЗ ИСУ</b></td></tr>
        <tr><td style='width:120px'>FIO</td><td>{{ rec_vw_os_2.FIO }}</td></tr>
        <tr><td style='width:120px'>TAB_NUM</td><td>{{ rec_vw_os_2.TAB_NUM }}</td></tr>
        <tr><td style='width:120px'>POS_ID</td><td>{{ rec_vw_os_2.POS_ID }}</td></tr>
        <tr><td style='width:120px'>POST_NAME</td><td>{{ rec_vw_os_2.POST_NAME }}</td></tr>
        <tr><td style='width:120px'>POST_ID</td><td>{{ rec_vw_os_2.POST_ID }}</td></tr>
        <tr><td style='width:120px'>USER_ID</td><td>{{ rec_vw_os_2.USER_ID }}</td></tr>
        <tr><td style='width:120px'>BOSS_FIO</td><td>{{ rec_vw_os_2.BOSS_FIO }}</td></tr>
        <tr><td style='width:120px'>BOSS_TAB_NUM</td><td>{{ rec_vw_os_2.BOSS_TAB_NUM }}</td></tr>
        <tr><td style='width:120px'>BOSS_POS_ID</td><td>{{ rec_vw_os_2.BOSS_POS_ID }}</td></tr>
        <tr><td style='width:120px'>DEPART_NAME</td><td>{{ rec_vw_os_2.DEPART_NAME }}</td></tr>
        <tr><td style='width:120px'>DEPART_ID</td><td>{{ rec_vw_os_2.DEPART_ID }}</td></tr>
    </table>
</div>
</div>

{% endblock %}
