{% extends 'base.html' %}

{% block head %}
<title>Structure_manager_1.0_IndexPage</title>
{% endblock %}

{% block body %}
<div id="header">
    Structure_manager_1.0
    <a href="/get_info"><button>GET_INFO</button></a>

<!--    <a href="/org_structure"><button>ORG_STRUCTURE</button></a>
    <a href="/departs"><button>DEPARTS</button></a>
    <a href="/posts"><button>POSTS</button></a> -->
</div>

<div id="command">
    <a href="/add_user"><button>ADD_USER</button></a>
    <a href="/remove_user"><button>REMOVE_USER</button></a>
    <a href="/add_position"><button>ADD_POSITION</button></a>
    <a href="/remove_position"><button>REMOVE_POSITION</button></a>
    <a href="/add_depart"><button>ADD_DEPART</button></a>
    <a href="/remove_depart"><button>REMOVE_DEPART</button></a>
    <a href="/add_post"><button>ADD_POST</button></a>
    <a href="/remove_post"><button>REMOVE_POST</button></a>

<!--    <a href="/change_depart"><button>CHANGE_DEPART</button></a>
    <a href="/change_post"><button>CHANGE_POST</button></a>
    <a href="/change_depart_name"><button>CHANGE_DEPART_NAME</button></a>
    <a href="/add_user_on_post"><button>ADD_USER_ON_POST</button></a>
    <a href="/remove_user_from_post"><button>REMOVE_USER_FROM_POST</button></a>
    <a href="/set_relation"><button>SET_RELATION</button></a>
    <a href="/remove_relation"><button>REMOVE_RELATION</button></a> -->
</div>

<div class="content">
    {% if rec_os_change|length < 1 %}
    <h4 style="text-align: center">There are no records.</h4>

    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th>LOAD_DATE</th>
            <th>ACTION_TYPE</th>
            <th>PARAM_1</th>
            <th>PARAM_1_TYPE</th>
            <th>PARAM_2</th>
            <th>PARAM_2_TYPE</th>
            <th>PARAM_3</th>
            <th>PARAM_3_TYPE</th>
            <th>PARAM_4</th>
            <th>PARAM_4_TYPE</th>
            <th>STATUS</th>
            <th>COMMIT_DATE</th>
            <th>DESCRIPTION</th>
        </tr>
        {% for rec in rec_os_change %}   
        <tr>
            <td>{{ rec.ID }}</td>
            <td>{{ rec.LOAD_DATE }}</td>
            <td style='font-size:10px'>{{ rec.ACTION_TYPE }}</td>
            <td>{{ rec.PARAM_1 }}</td>
            <td>{{ rec.PARAM_1_TYPE }}</td>
            <td>{{ rec.PARAM_2 }}</td>
            <td>{{ rec.PARAM_2_TYPE }}</td>
            <td>{{ rec.PARAM_3 }}</td>
            <td>{{ rec.PARAM_3_TYPE }}</td>
            <td>{{ rec.PARAM_4 }}</td>
            <td>{{ rec.PARAM_4_TYPE }}</td>
            <td>{{ rec.STATUS }}</td>
            <td>{{ rec.COMMIT_DATE }}</td>
            <td>{{ rec.DESCRIPTION }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
